.deps/
awklib/
doc/
gawk-3.1.8/
po/
config.*
stamp-h1
.DS_Store
array.o
awkgram.o
builtin.o
dfa.o
ext.o
field.o
floatcomp.o
gawkmisc.o
getopt.o
getopt1.o
test.out
.vscode/configurationCache.log
.gitignore
.vscode/dryrun.log
.vscode/targets.log
./vscode/*
